
body {
  display: flex;
  flex-direction: column;
  color: #2596be;
  background-color: white;
  
}
/* header */
header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
  background-color: #13293d;
  color: #fff;
  border-color: whitesmoke;
  
}

/* Change font size of headings */
h1 {
  font-size: 200%;
  float:left;
  padding: 0;
  border-color: whitesmoke;
  text-decoration: underline;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: right;
  font-size: 150%
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
 
  align-items: center;
}

.p{
  align-items: center;
}

.aboutme-container, .work-container, .contact-container {
  display: flex

}
.aboutme-1, .work-1, .contact-1{
  flex: 1;
  border-right: solid 1px;
}